[Unit]
Description=Start and stop cluster nodes on boot and shutdown

[Service]
Type=oneshot
ExecStart=/sbin/clusterhat on
ExecStop=/sbin/clusterhat off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target